Source: compton-conf
Section: x11
Priority: optional
Maintainer: Wen Liao <wen.cf83@gmail.com>
Build-Depends: debhelper (>= 9), cmake (>= 2.8.3), libqt4-dev (>= 4.6), pkg-config, libconfig-dev
Standards-Version: 3.9.5
Homepage: https://github.com/lxde/compton-conf
Vcs-Git: https://github.com/lxde/compton-conf.git
Vcs-Browser: https://github.com/lxde/compton-conf

Package: compton-conf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt configuration tool for X composite manager Compton
 Qt configuration tool for X composite manager Compton that used in LXQt

