Source: libqtxdg
Section: x11
Priority: optional
Maintainer: Wen Liao <wen.cf83@gmail.com>
Build-Depends: debhelper (>= 9), cmake
Standards-Version: 3.9.5
Homepage: https://github.com/lxde/libqtxdg
Vcs-Git: https://github.com/lxde/libqtxdg.git
Vcs-Browser: https://github.com/lxde/libqtxdg

Package: libqtxdg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library of freedesktop.org specs implementations for Qt
 QT Library for freedesktop.org specs implementations
